{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'snacks/CSS/_base.css' %}">
</head>
<body>
    <header>
        <div>
            <p id="title">Django Snacks</p>
        </div>
        <nav>
            <ul id = 'nav_ul'>
                <a href={% url 'snack_list' %}><button type="button" id='nav_button'>HOME</button></a>
            </ul>
        </nav>
    </header>
    </br>
    <div id = 'body_content'>
        {% block body_content %}{% endblock %}
        </br>
    </div>
   

    <footer>
        <div>
            <p>© Copyright reserved</p>
        </div>

        <div id = 'footer_imgs_div'>
            <a href="https://www.instagram.com/">
                <img src="{% static 'snacks/imgs/instagram.png' %}" alt="lnstagram" id ='contact_img' class="contact_img">
            </a>
            <a href="https://www.facebook.com/" >
                <img src="{% static 'snacks/imgs/facebook.png' %}" alt="FaceBook" id ='contact_img' class="contact_img">
            </a>
        </div>
    </footer>

</body>
</html>

